{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="ticket-list">
    <h1>Home</h1>

    {% if tickets is defined and tickets is not empty %}
        <ul>
        {% for message in firstMessages %}
            <a href="ticket/{{ message.ticket.id }}">
            <li>
                <h6>{{ message.title }}</h6>
                <p>{{ message.content }}</p>
            </li>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="ticket/delete/{{ message.ticket.id }}">Delete</a>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez pas encore de tickets n'hésitez pas à en créer un <a href="{{ '/ticket/new' }}">ici</a> !</p>
    {% endif %}
</div>
{% endblock %}