{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Ticket {{ ticket.id }}</h1>

    {{ form_start(ticketForm) }}
        {{ form_row(ticketForm.title) }}
        {{ form_row(ticketForm.content) }}

        <button class="btn">Register</button>
    {{ form_end(ticketForm) }}

    <ul>
        {% for message in ticket.messages %}
        <li>
            <h6>{{ message.title }}</h6>
            <p>{{ message.content }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
