{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ticket.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-secondary" href="/add/user/{{ ticket.id }}">Assign new user</a><hr>
    {% endif %}
    
    <div class="col-md-12 blog-main">
        <table class="table table-hover">
        {% for message in ticket.messages %}
            <tr class="row">
                <td class="table-content">
                    <h6>{{ message.title }}</h6>
                    <p>{{ message.content }}</p>
                    <div class="info">
                        {% if message.updatedAt is not null %}
                            <p>(edit at {{message.updatedAt|date("m/d/Y H:i")}})</p>
                        {% endif %}
                        <p>Send by {{ message.user }}</p>
                    </div>
                </td>
                <td class="table-action">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/message/edit/{{ message.id }}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="/message/delete/{{ message.id }}"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                </td>
        {% endfor %}
        </table>
    </div>
    <hr>

    {{ form_start(ticketForm) }}
        {{ form_widget(ticketForm.title) }}
        {{ form_widget(ticketForm.content) }}

        <button class="btn">Send</button>
    {{ form_end(ticketForm) }}

{% endblock %}
